<link href="https://raw.githubusercontent.com/flymin/learngit/master/dashboard.css" rel="stylesheet">
<div class="row">
  <nav class="col-md-3 sidebar-nav">
    <h5 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
      <span>YOUR CART</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h5>
    </br>
    <li class="nav-item">
      <table class="table table-sm table-hover">
        <thead>
        <tr>
          <th scope="col">number</th>
          <th scope="col">product</th>
          <th scope="col">price</th>
        </tr>
        </thead>

        <tbody>
        <%= render(@cart.line_items) %>

        <tr class="total_line table-success">

          <td colspan="2">Total</td>
          <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
        </tr>
        </tbody>

      </table>
    </li>
    <div class="container">
      </br>
      <center>
        <%= button_to 'Empty cart', @cart, method: :delete,
                      data: {confirm: 'Are you sure?'},
                      :class => "btn btn btn-outline-dark btn-sm" %>
        </br>
        <%= button_to 'Cart Page', @cart, :role => "button",
                    :class => "btn btn-outline-info btn-sm" %>
      </center>
    </div>

  </nav>
  <main role="main" class="col-md-8 ml-sm-auto col-lg-8 px-4">
    <div class="my-4">

      <h4 class="my-4">Creat new order</h4>
      <form class="needs-validation" novalidate>
        <legend>Please Enter Your Details</legend>
        <%= render 'form', order: @order %>
      </form>
      <script>
          // Example starter JavaScript for disabling form submissions if there are invalid fields
          (function () {
              'use strict';
              window.addEventListener('load', function () {
                  // Fetch all the forms we want to apply custom Bootstrap validation styles to
                  var forms = document.getElementsByClassName('needs-validation');
                  // Loop over them and prevent submission
                  var validation = Array.prototype.filter.call(forms, function (form) {
                      form.addEventListener('submit', function (event) {
                          if (form.checkValidity() === false) {
                              event.preventDefault();
                              event.stopPropagation();
                          }
                          form.classList.add('was-validated');
                      }, false);
                  });
              }, false);
          })();
      </script>
    </div>
  </main>
</div>
</div>