<div class="container">
  <p class="my-4" id="notice"><%= notice %></p>
  <h2 class="my-4">Your Cart</h2>
  <div class = "my-4">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">number</th>
        <th scope="col">product</th>
        <th scope="col">price</th>
      </tr>
      </thead>

      <tbody>
      <%= render(@cart.line_items) %>

      <tr class="total_line">
        <td colspan="2">Total</td>
        <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
      </tr>
      </tbody>

    </table>

    <div class="container">
      <%= link_to 'Checkout', new_order_path, method: :get,
                  :type => "button", :class => "btn btn-secondary btn-lg btn-block"%>
      <%= link_to 'Empty cart', @cart, method: :delete,
                  data: { confirm: 'Are you sure?' },
                  :type => "button", :class => "btn btn-secondary btn-lg btn-block"%>
      <%= link_to 'Back Home', store_index_path, method: :get,
                  :role => "button", :class => "btn btn-primary btn-lg btn-block" %>
    </div>
    </br>
  </div>
</div>

